/* layout / column */
.l25 {
  width: 25%;
}
.l33 {
  width: 33%;
}
.l50 {
  width: 48%;
}
.l66 {
  width: 66.66%;
}
.l75 {
  width: 75%;
}
.l100 {
  width: 100%;
}
.shide,
.mhide,
.xlhide {
  display: block;
}
.lhide {
  display: none;
}
.subheader {
  background: #f2f2f2;
}
.subheader ul li {
  display: inline;
  width: 50%;
}
#main {
  display: block!important;
}
#blokje {
  display: none!important;
}
